body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fffbe6;
  color: #000;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffcc00;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #005bbb;
}

nav a {
  padding: 10px;
  color: #005bbb;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

header {
  background-color: #005bbb;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  padding-bottom: 70px; /* espaço pro menu fixo */
}

.placeholder {
  color: #888;
  text-align: center;
  margin-top: 50px;
}